<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- sub_category_add.html -->

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
               <li {% if message.tags %} class="{{ message.tags}}" {% endif %}> 
                {{message}}
               </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if category %}
        <h1> Adding Subcategory for {{category.name}}
    {% endif %}

    <h1>Add Sub Category</h1>
    <form method="post" action="{% url 'services:add_sub_category' slug=category.slug %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Add Subcategory</button>
    </form>
</body>
</html>